body {
  padding-bottom: 1rem;
}

.row {
  padding-top: 2rem;
}

.apps a img {
  width: 100px;
}

img.graph {
  width: 100%
}

.index-cat-0 {
  background-color: #57b108;
  color: #ffffff;
}

.index-cat-1 {
  background-color: #b0dd10;
  color: #262626;
}

.index-cat-2 {
  background-color: #ffd911;
  color: #262626;
}

.index-cat-3 {
  background-color: #e58100;
  color: #262626;
}

.index-cat-4 {
  background-color: #e50000;
  color: #ffffff;
}

.index-cat-5 {
  background-color: #990000;
  color: #ffffff;
}