
.cluster-icon {
	background: none;
  }
  
  .cluster-container {
	position: relative;
	text-align: center;
  }
  
  .cluster-icon {
	width: 100%;
  }
  
  .cluster-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: rgba(255,255,255,0.9);
	font-size: 12px;
  }
  