body {
  padding-bottom: 1rem;
}

.apps a img {
  width: 100px;
}

.tooltip-inner {
  max-width: 400px;
  text-align: justify;
}

.navbar-brand {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.09375rem;
  color: #2b302a;
}

.navbar-brand img {
  height: 3rem;
  margin-right: 0.5rem;
}

.index-cat-0 {
  background-color: #57b108;
  color: #ffffff;
}

.index-cat-1 {
  background-color: #b0dd10;
  color: #262626;
}

.index-cat-2 {
  background-color: #ffd911;
  color: #262626;
}

.index-cat-3 {
  background-color: #e58100;
  color: #262626;
}

.index-cat-4 {
  background-color: #990000;
  color: #ffffff;
}

a.disabled {
  color: gray;
  pointer-events: none;
}

#map {
  width: 100%;
  height: 480px;
}