.app-header .navbar-brand {
    font-family: 'Ubuntu Mono', monospace;
    justify-content: left;
    padding-left: 0.75rem;
    color: #2b302a;
}

.navbar-brand img {
    height: 3rem;
    margin-right: 0.5rem;
}

.app-header .navbar-brand {
    width: 15rem;
}

.map {
    width: 100%;
    height: 360px;
}

form textarea {
    font-family: monospace;
}